[package]
name = "acrylic"
version = "0.2.2"
edition = "2021"
authors = [ "Nathan ROYER <nathan.royer.pro@gmail.com>" ]
description = "work-in-progress, easily portable, small, web-inspired UI toolkit"
license = "MIT"
categories = [ "gui", "rendering", "graphics", "multimedia", "no-std" ]
keywords = [ "toolkit", "gui", "ui", "xml", "no_std" ]
repository = "https://github.com/NathanRoyer/acrylic"
readme = "../README.md"

[dependencies]
hashbrown = "0.12.2"
microjson = "0.1.1"
bitflags = "1.3"
log = "0.4.17"

ttf-parser = { version = "0.15.2", optional = true }
wizdraw = { version = "1.1.2", optional = true }
vek = { version = "0.15.8", default-features = false, optional = true }

xmlparser = { version = "0.13.3", optional = true }
png = { version = "0.17", optional = true }
railway = { version = "0.2.2", optional = true }
lazy_static = { version = "1.4.0", optional = true }

[features]
default = [ "rwy", "xml", "png", "text", "noto-default-font" ]

text = [ "ttf-parser", "wizdraw", "vek" ]
xml = [ "xmlparser" ]
rwy = [ "railway", "lazy_static" ]
noto-default-font = []
